*{
    margin: 20;
    padding: 30;
}
h1{
    frot-family:arial,calibri,sans-serif;
}

.img-noname{
    margin-top: 20px;
    widht: 150px;
    float:left;
    margin-right: 20px;
}
.desctiption{ 
    font-family: "Comic Sans MS",sans-serif;
    text-aligin: justyfy;
}


p{
color: red;
font-size:10px;
}
.one{
color: orange;
font-size:10px;
}
#awesome{
    color: blue;
    font-size:20px;}